.container {
	max-width: 1000px;
  text-align:center;
}

.row {
	padding-top: 20px;
}


.modal-body {
	text-align: center;
}

.modal-title {
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.col-sm-12 {
  text-align: center;
}

.glyphicon {
  font-size: 8em;
  display: inline;
  color: #3a87ad;
}

.btn{
	padding: 20px;
}

.btn-primary {
	background-color: #3a87ad;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.won .glyphicon {
    color: #CCFFFF;
}
