
.blue{
  background-color: #3a87ad;;
  padding: 20px;
}

.white{
}

#container {
  text-align: center;
}

#pieces {

}

#board{
  margin-top: 20px;



}
.glyphicon {
  font-size: 2em;
  color: #3a87ad;

}

.player1 {
  color: black;
}

.glow {
  opacity: .50;

}


.col-xs-1 {
  text-align: center;
}



.glow{
  opacity: .50;
}
