
.blue{
  background-color: #3a87ad;;
  padding: 1.5em;
}

#container {
  text-align: center;
}


#board{
  margin-top: 20px;

}
.glyphicon {
  font-size: 2.0em;
  color: #3a87ad;

}

.player1 {
  color: black;
}

.glow {
  opacity: .50;
}


.col-xs-1 {
  text-align: center;
}


